{{page-title "Climbing Grades Converter"}}
<h1 class="logo">Climbing grade <span>converter</span></h1>
<InfoPopupWButton />
<div class="search-field-wrapper">
  <div class="search-field-icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>
  </div>
  <Input
    id="input-grade"
    @type="text"
    @value={{this.inputGrade}}
    class="search-field"
    placeholder="Any grade"
    inputmode="search"
    autocomplete="off"
    autocorrect="off"
    spellcheck="false"
    autocapitalize="off"
    @enter={{this.blurInputGrade}}
    @escape-press={{this.blurInputGrade}}
  />
  {{#if this.inputGrade}}
    <button class="neutral-button search-field-clear" {{on "click" this.clearInputGrade}} type="button">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>
    </button>
  {{/if}}
</div>

<div class="suggestions-box">
  {{#if this.hasManyGradeSystems}}
    Identified as
    <span
      class="current-grade-system"
    >
      {{capitalize this.gradeSystem}}</span>.
    Did you mean
    {{#each this.selectableGradeSystems as |gradeSystem|}}
      <button
        class="neutral-button grade-system-button"
        type="button"
        {{on "click" (fn this.setGradeSystem gradeSystem)}}
      >
        {{capitalize gradeSystem}}</button>{{/each}}?
  {{else}}
    {{#if (and this.gradeSystem this.inputGrade this.parsedGrade)}}
      Identified as
      <span class="current-grade-system">{{capitalize this.gradeSystem}}</span>.
    {{else}}
     
    {{/if}}
  {{/if}}
</div>

<div class="grades-wrapper">
  <div class="grade-sport">
    <div class="grade-header">
      Sport
    </div>
    <div class="grade">
      <span class="grade-label"><span>French / Sport</span></span><br>
      {{if this.frenchGrade this.frenchGrade " "}}
    </div>
    <div class="grade">
      <span class="grade-label"><span>YDS</span></span><br>
      {{if this.ydsGrade this.ydsGrade " "}}
    </div>
    <div class="grade">
      <span class="grade-label"><span>UIAA</span></span><br>
      {{if this.uiaaGrade this.uiaaGrade " "}}
    </div>
    <div class="grade">
      <span class="grade-label"><span>Australian (Ewbank)</span></span><br>
      {{if this.australianGrade this.australianGrade " "}}
    </div>
    <div class="grade">
      <span class="grade-label"><span>South African</span></span><br>
      {{if this.southAfricanGrade this.southAfricanGrade " "}}
    </div>
  </div>
  <div class="grade-boulder">
    <div class="grade-header">
      Bouldering
    </div>
    <div class="grade">
      <span class="grade-label"><span>Font</span></span><br>
      {{if this.fontGrade this.fontGrade " "}}
    </div>
    <div class="grade">
      <span class="grade-label"><span>Hueco (Vermin)</span></span><br>
      {{if this.huecoGrade this.huecoGrade " "}}
    </div>
  </div>
</div>